* {
    margin: 0;
    padding: 0;
    /*box-sizing: border-box;*/
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.6;
    background-color: rgb(203, 231, 231);
}

header {
    border: solid rgb(205, 64, 174) 4px;
    border-radius: 20px;
    color: #f2ebf0;
    padding: 1rem 0;
    background-image: url('https://cdn.pixabay.com/photo/2016/06/02/02/33/triangles-1430105_1280.png');
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-left: 5%;
    color: #e0c7de;
}

ul {
    list-style: none;
    display: flex;
    margin-left: 1rem;
}

li {
    margin-left: 1rem;
}

header nav ul li a {
    color: #e2dee8;
    text-decoration: none;
    font-size: 1rem;
}

#MegustaPagina{
background-color: #e2db18;
cursor: pointer;
height: 40px;
width: 180px;
border-radius: 20px;
box-shadow: 2px 2px 0px 1px rgb(226, 61, 210);
color: rgb(88, 23, 129);
font-size:15px ;
}

h2{
    color: #641872;
    font-family: Arial, Helvetica, sans-serif;
    font-size:30px;
}

p{
    color: #522c99;
    font-family: Arial, Helvetica, sans-serif;
    font-size:25px;
    text-align: center;
}


#ana{
    width: 35%;
    height: auto;
    border:solid rgb(224, 126, 209) 10px;
    border-radius: 50%;
}

#about {
    text-align: center;
    color: #60177d;
    padding: 2rem 1rem;
    max-width: 1200px;
    margin: 0 auto;
}

#contact {
    text-align: center;
    color: #5e4797;
    text size:30px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.gallery-item {
    flex: 1 1 calc(50% - 1rem);
    width: 5%;
    height:5%;
}

.gallery-item img,
.gallery-item video {
    width: 100%;
    height: auto;
    border-radius: 5px;
}


#boton-like1, #boton-like2,  #boton-like3,  #boton-like4{
    background-color: #ca58a4;
    color: white;
    cursor: pointer;
    height: 30px;
    width: 100px;
    box-shadow: 2px 2px 0px 1px rgb(202, 190, 14);
    font-size:15px ;
} 


/*form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

form label {
    font-size: 1rem;
    color: #333;
}

form input,
form textarea {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    padding: 0.5rem;
    font-size: 1rem;
    border: none;
    background: #249f3b;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background: #d4e705;
}*/


.transicion-foto{
    /*display:flex*/
}

.imageave {
    display: inline-block;
    width: 300px;
    transition: transform 0.8s ease-in-out;
}

.imageave:hover {
    transform: scale(1.3);
}

.apiPerros{
    background-color: #c7bd06;

    
}
#dogImage{
    width: 500px; 
    height: 400px;
    }

#fetchDogImage{
    background-color: #2fd070;
    cursor: pointer;
    height: 30px;
    width: 100px;
    border-radius: 20px;
    box-shadow: 2px 2px 0px 1px rgb(188, 93, 10);
    color: rgb(12, 18, 79);
    font-size:15px ;
}

footer {
    padding: 5px 5px;
    background: rgb(95, 33, 147);
    
}

#pdefooter{
    color: white;
    text-align:right;
}